<ion-content>
    <ion-content class="ion-padding">
        <topo-login title="Cadastra usuario"></topo-login>
        <form [formGroup]="loginForm" (submit)="createUser()">
            <ion-item>
                <ion-icon name="person" color="if" slot="start"></ion-icon>
                <ion-input formControlName="nome" type="text" placeholder="Nome" autfocus="true"></ion-input>
            </ion-item><br/>
            <ion-item>
                <ion-icon name="person" color="if" slot="start"></ion-icon>
                <ion-input formControlName="snome" type="password" placeholder="Sobrenome"></ion-input>
            </ion-item><br/>
            <ion-item>
                <ion-icon name="mail" color="if" slot="start"></ion-icon>
                <ion-input formControlName="email" type="email" placeholder="E-mail"></ion-input>
            </ion-item><br/>
            <ion-item>
                <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
                <ion-input formControlName="password" type="password" placeholder="Senha"></ion-input>
            </ion-item><br/>
            <ion-item>
                <ion-icon name="lock-closed" color="if" slot="start"></ion-icon>
                <ion-input formControlName="confirm-pass" type="confirm-pass" placeholder="Confirmar"></ion-input>
            </ion-item><br/>
        </form><br><br>
        <ion-button [disabled]="loginForm.invalid" type="submit" expand="block" color="if" fill="clear">Enviar</ion-button>

    </ion-content>
    <ion-footer>
        <ion-row>
            <ion-col>
                <ion-button [routerLink]="['/auth']" fill="clear" color="medium">Voltar</ion-button>
            </ion-col>

        </ion-row>

    </ion-footer>